.hero {
  background-color: #2e2f42;
  /* padding: 188px 141px; */
  padding: 72px 0;
  background-image:
    linear-gradient(
      180deg,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1140x;
  margin-left: auto;
  margin-right: auto;
}

/* .hero .container {
  margin-left: 52px;
  margin-right: 52px;
} */

/* h1 */
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
  margin-bottom: 72px;
}

.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  padding: 16px 32px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    /* padding: 112px 0; */
  }

  .hero .container {
    padding-left: 136px;
    padding-right: 136px;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07143;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .hero .container {
    padding-left: 331px;
    padding-right: 331px;
  }

  .main-title {
    margin-bottom: 48px;
  }

  .hero {
    padding: 188px 141px;
  }
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image:
      linear-gradient(
        180deg,
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 100%
      ),
      url(../images/hero-bg2x.jpg);
  }
}
